.container {
    width: 800px;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
}

.container.img {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-top: 0;
}

img {
    width: 600px;
    height: auto;
}

.heading {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Arial;
    font-size: 60px;
    color: lightseagreen;
}

li {
    font-size: 25px;
    list-style: none;
}

a {
    text-decoration: none;
    color: lightseagreen;
}
