body {
    box-sizing: border-box;
    margin: 50px 200px;
    /* border: 2px solid black; */
}

.container, .heading {
    /* width: 800px; */
    height: auto;
    width: 800px;
    /* border: 2px solid red; */
}

.container.img {
    margin: 20px auto;
    width: 400px;
}

#front-img {
    width: 400px;
    height: auto;
    margin: auto;
    border: 2px solid green;
}

img {
    width: 400px;
    height: auto;
    border: 3px solid black;
}

.container.ingredients h2,
.container.steps h2{
    color: lightseagreen;
    text-align: center;
    text-transform: uppercase;
}

.heading, li {
    font-family: Georgia, 'Times New Roman', Arial;
}

h1.heading {
    border: 5px double green;
    width: 50%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    text-align: center;
    font-size: 60px;
    color: lightseagreen;
    padding: 5px;
}

.heading.two {
    font-size: 20px;
    line-height: 1.5;
    color: lightseagreen;
    text-align: justify;
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 5px;
    /* border: 2px solid black; */
}

#main-page {
    margin: auto;
}

#nav {
    margin: auto;
}

.list a {
    text-decoration: none;
    color: lightseagreen;
}

ul, ol {
    line-height: 2.0;
    border: 2px dotted lightblue;
    width: 400px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.list {
    font-size: 25px;
    line-height: 1.5;
    text-align: center;
    width: 50%;
    margin: 30px auto;
    /* border: 2px solid red; */
}

li {
    text-align: left;
    margin: 0;
}

.container.steps {
    /* border: 2px solid red; */
    width: auto;
    vertical-align: top;
    display: inline-block;
    margin-top: 30px;
    margin-left: -240px;
    margin-bottom: 30px;
}

.container.ingredients {
    /* border: 2px solid red; */
    width: auto;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    margin-right: 250px;
    margin-bottom: 30px;
    margin-left: 280px;

}
